/*重置样式*/
*,
::before,
::after {
	/*选中所有的元素和伪元素*/
	margin: 0;
	padding: 0;
}
body {
    background: url(../images/bg.png) no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
input, textarea {
	outline: none;
	border: none;
	resize: none;
}
i {
    font-style: normal;
    font-family: "icomoon";
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?g8ktg6');
    src:  url('../fonts/icomoon.eot?g8ktg6#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?g8ktg6') format('truetype'),
      url('../fonts/icomoon.woff?g8ktg6') format('woff'),
      url('../fonts/icomoon.svg?g8ktg6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.share {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    border-radius: 4px;
}
.blue {
    color: #175199;
}



/* 版心 */
.container {
    width: 400px;
    margin: 0 auto;
}
.login,
.social,
.download {
    background: #fff;
}
/* logo部分 */
.logo {
    margin-top: 30px;
}
.logo img {
    width: 128px;
    display: block;
    margin: 0 auto;
}
/* 登录部分 */
.login {
    height: 375px;
    margin-top: 24px;
}
.login-box {
    width: 352px;
    margin: 0 auto;
}
.login .hdline {
    height: 58px;
    width: 65px;
    line-height: 58px;
    border-bottom: 3px solid #0084ff;
}
.login .hdline a {
    font-size: 16px;
    color: #444;
    font-weight: 700;
}
.login form {
    margin-top: 24px;
}
.login form input {
    width: 352px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: #1a1a1a;
    font-size: 16px;
}
.login form input:last-child {
    margin-top: 12px;
}
.login .ways {
    margin-top: 12px;
}
.login .ways a.fr {
    color: #8590a6;
}
.login .login-bt {
    display: block;
    color: #fff;
    background-color: #0084ff;
    margin-top: 30px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
}
.login p {
    margin-top: 28px;
    padding: 12px 24px;
    box-sizing: border-box;
    width: 100%;
    height: 58px;
    background: #f6f6f6;
    color: #808080;
    font-size: 13px;
}
/* 社交网络 */
.social {
    height: 60px;
    line-height: 60px;
    margin-top: 24px;
    font-size: 15px;
    color: #8590a6;
}
.social img {
    vertical-align: middle;
}
.social .fl {
    padding-left: 24px;
}
.social .fr {
    padding-right: 24px;
}
.social a {
    color: #8590a6;
}
.social ul li {
    float: left;
}
.social ul li:nth-child(2),
.social ul li:nth-child(3) {
    padding-left: 22px;
}
/* app下载 */
.download {
    height: 42px;
    line-height: 42px;
    margin-top: 24px;
    text-align: center;
}
.download a {
    font-size: 14px;
    color: #0084ff;
    margin-left: 6px;
}
.download img {
    vertical-align: middle;
}
/* 网页底部 */
footer {
    width: 100%;
    height: 85px;
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
}
footer a:hover {
    text-decoration: underline;
}
footer, footer a {
    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 2px #999;
}
footer a:not(:last-child):after,
footer span:not(:last-child):after {
    content: "·";
    padding: 0 5px;
    white-space: pre;
    display: inline-block;
}
/* 建议反馈 */
a.advice {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #8590a6;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.advice:hover {
    background-color: #d3d3d3;
}